@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: $color2;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: url("../img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.mg-btm {
  &--1rem {
    margin-bottom: 1rem;
  }
  &--2rem {
    margin-bottom: 2rem;
  }
  &--3rem {
    margin-bottom: 3rem;
  }
}

// Media Query Mixins

// small screens with screen widths of 600px or less
@mixin x-small {
  @media screen and (max-width: 575.98px) {
    @content;
  }
}

// Small devices (landscape phones, 576px and up)
@mixin small {
  @media screen and (min-width: 576px) {
    @content;
  }
}

// Medium devices (tablets, 768px and up)
@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// Large devices (desktops, 992px and up)
@mixin large {
  @media screen and (min-width: 992px) {
    @content;
  }
}

// Extra large devices (large desktops, 1200px and up)
@mixin x-large {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Wide Desktop Screens (1366px and up)
@mixin xx-large {
  @media screen and (min-width: 1366px) {
    @content;
  }
}
